html, body, #map {
    height: 100%;
    margin: 0;
} 

#map {
    -webkit-mask: linear-gradient(90deg, transparent 2%, white 15%);
}

#sidepannel {
    float: left;
    height: 100vh;
    width: 240px;
    text-align: center;
}

#title {
    font-family: "Playfair Display", serif;
    font-size: 15px;
    font-weight: bold;
}

#about {
    font-family: "Playfair Display", serif;
    font-size: 11.5px;
    padding-top: 10px;
}

#legend2 {
    height: 190px;
    width: 225px;
    font-family: "Roboto", sans-serif;
    position: absolute;
    bottom: 0;
    z-index: 10;;
    padding: 10px;
    margin: 10px;
    display: block;align-content: center
}

.nitrate_leglabel {
    font-size: 12px;
}

.canrate_leglabel {
    font-size: 12px;
}

.regression_leglabel {
    font-size: 12px;
}

.regressionSymbol, .cancerRateSymbol, .nitrateSymbol {
    opacity: 0.4;
}

#nitrateInterpolate {
    margin-bottom: 14px;
    font-family: "Playfair Display", serif;
    font-size: 12px;
}

#cancerInterpolate {
    margin-bottom: 14px;
    font-family: "Playfair Display", serif;
    font-size: 12px;
}

.btn.btn-outline-primary:disabled {
    color: darkgray;
    border-color: darkgray;
}

#runFeature {
    font-family: "Playfair Display", serif;
    font-size: 12px;
}

#reset {
    display: inline-block;
    margin: 16px;
    font-family: "Playfair Display", sans-serif;
    font-size: 11px;
}

.slidecontainer {
    width: 75%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#qVal_instruct {
    font-family: "Playfair Display", sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding-top: 0px;
}

#nitrate_instruct {
    font-family: "Playfair Display", sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
}

.legendTitle {
    font-family: "Roboto", serif;
    font-size: 12px;
}

#cancerRate_instruct {
    font-family: "Playfair Display", sans-serif;
    font-size: 12px;
    font-weight: bold;
}

#regression_instruct {
    font-family: "Playfair Display", sans-serif;
    font-size: 12px;
    font-weight: bold;
}

#kVal {
    margin: 20px;
    top: 30%;
}

.nitrate_leglabel {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}